@import "../base/variables";

.about-area {
  .about-img {
    img {
      border-radius: 8px;
    }
  }
  .about-content {
    p {
      font-size: 19px;
      line-height: 28px;
      font-weight: 500;
      color: $black-color;
      @include small {
        padding: 10px;
      }
    }
  }
  .about-card {
    background: $card-bg;
    border: 1px solid $card-border;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    img {
      width: 50px;
      margin-bottom: 16px;
    }
    h5 {
      font-size: 23px;
      line-height: 38px;
      text-transform: capitalize;
      color: $black-color;
    }

    p {
      text-transform: capitalize;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 2px 8px $overlay-bg;
      color: darken($light-blue, 20%);
    }
    @include small {
      margin-top: 20px;
    }
    @include medium {
      margin-top: 20px;
    }
  }
}
