@import "../base/variables";

.about-area {
  background-color: $navy-blue;
  .about-content {
    h2 {
      font-family: $font-heading;
      font-size: 30px;
      color: $Primary-btn;
      margin-bottom: 20px;
    }

    p {
      font-family: $font-body;
      font-size: 16px;
      color: $text-color;
      margin-bottom: 20px;
    }
  }

  .about-info{
    background-color: $bg-color;
    .info-item{
      span{
        a{
          color: $light-blue;
          text-decoration: underline;
        }
      }
      padding: 20px;
      border-bottom: 1px solid $Primary-btn;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  
}