@import "../base/variables";
.banner-area {
  background: $color-white;
  .banners {
    .profile {
      text-align: center;
      img {
        width: 130px;
        border-radius: 50%;
        padding: 3px;
        background: $color-accent;
      }
    }
    .type-writer {
      h1 {
        font-size: 40px;
        color: $color-black;
        text-transform: capitalize;
        .typewriter-role {
          display: inline-block;
          font-family: "lora", sans-serif;
          border-bottom: 2px solid;
          &.developer {
            color: $color-accent;
          }

          &.designer {
            color: $color-hover;
          }

          &.ux-designer {
            color: $color-primary;
          }
        }
        @include small {
          font-size: 18px;
        }
      }
    }
    .banner-content {
      h3 {
        font-size: 66px;
        line-height: 70px;
        font-family: loral;
        max-width: 711px;
        text-align: center;
        margin: 0 auto;
        color: $color-black;
        @include small {
          font-size: 29px;
          line-height: 40px;
          max-width: 100%;
        }
      }
      p {
        max-width: 700px;
        padding-top: 20px;
        @include small {
          max-width: 100%;
          padding-top: 15px;
          font-size: 14px;
        }
      }
    }
    .button {
      a {
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }
  }
}
