@import "../base/variables";
.contact-area {
  .contact-info {
    h4 {
      font-size: 25px;
      line-height: 30px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: $Primary-btn;
        width: 60px;
        height: 3px;
        bottom: -10px;
      }
    }
    p {
      margin: 30px 0;
    }
    .info-item {
      display: flex;
      align-content: center;
      align-items: center;
      margin: 20px 0;

      i {
        width: 45px;
        height: 45px;
        border: 1px solid $Primary-btn;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.3s ease;
        &:hover {
          background: $Primary-btn;
          color: $bg-color;
          transform: translateY(-5px);
          box-shadow: 0 0 10px $Primary-btn;
        }
      }

      a,
      span {
        display: inline-block;
        margin-left: 25px;
        color: $text-color;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          color: $tomato-color;
        }
      }
      span {
        &:hover {
          color: $text-color;
        }
      }
    }
    .social-icon {
      display: flex;
      margin-top: 4rem;

      a {
        width: 45px;
        height: 45px;
        background: $Primary-btn;
        color: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px; // Added margin value here
        border-radius: 50%;

        &:hover {
          transform: translateY(-5px);
          border-radius: 4px;
          box-shadow: 0 0 10px $Primary-btn;
        }
      }
    }
  }

  .contact-form {
    @include medium {
      margin-top: 4rem;
    }
    .form-group {
      margin-bottom: 1.5rem;
    }

    .form-group.d-flex {
      gap: 1rem;
    }

    .half-width {
      width: 48%;
    }

    .form-control {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $dark-color;
      border-radius: 8px;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s ease;
      background-color: transparent;
      color: $text-color;
    }

    .form-control:focus {
      border-color: $Primary-btn;
    }

    textarea.form-control {
      resize: vertical;
      min-height: 120px;
    }

    /* Button Styles */
    .btn-primary {
      padding: 0.75rem;
      background-color: $Primary-btn;
      color: $bg-color;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
      box-shadow: 0 0 10px $Primary-btn;
    }
  }
  .form-response {
    margin-top: 1rem;
    color: #28a745;
    display: none;
  }

  .form-error {
    margin-top: 1rem;
    color: #dc3545;
    display: none;
  }
}
