@import '../base/variables';
.footer-area {
  border-top: 1px solid $gray-color;
  padding: 1rem 0;

  p {
    font-size: 16px;
    text-transform: capitalize;
    color: $black-color;
    margin: 0;
    @include x-small {
      font-size: 16px;
      text-align: center;
    }
  }

  .social-links {
    margin-top: 1rem;

    ul {
      gap: 10px; 
      @include x-small {
        justify-content: center;
      }
      li {
        a {
          background: $light-blue;
          padding: 8px;
          color: $white-color;
          font-size: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: $dark-orange;
          }
        }
      }
    }
  }
}