@import "../base/variables";

// Preloader 
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: .9;
}
// Scroll to Top Button CSS 
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $Primary-btn;
  color: $bg-color;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  border-radius: 5px;
  font-size: 16px;
  &:hover {
    box-shadow: 0 0 10px $Primary-btn;
  }
}

.scroll-to-top.show {
  display: block;
}
// section-title CSS
.section-title {
  h4 {
    font-size: 45px;
    line-height: 56px;
    color: $Primary-btn;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background: $Primary-btn;
      width: 61px;
      height: 3px;
      bottom: -17px;
    }
  }
}

// Contact Button CSS 
.contact-btn {
  background: $Primary-btn;
  color: $bg-color !important;
  padding: 0.625rem 1.25rem;  // Use rem units for scalability
  border-radius: 25px;
  border: none;               // Optional: remove border for cleaner look
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease; // Added smooth transition
  animation: animated 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px $Primary-btn;  // Increased shadow for better effect
    transform: scale(1.05);             // Add subtle scaling for better interaction
  }
}

// Animation keyframes
@keyframes animated {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(5px);
  }
}


.card {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 1;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle), #d32222, #f39c12, #e74c3c, #9b59b6, #2ecc71, #3498db);
    animation: spin 3s linear infinite;
  }

  &::before {
    filter: blur(15px);
    opacity: 0.5;
  }
}
  
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
