@import "../base/variables";
@import "../base/responsive";

// button
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: $color-white !important;
  background: linear-gradient(135deg, $light-orange, $color-indigo);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;

  &:hover {
    background: linear-gradient(135deg, $color-indigo, $light-orange);
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-indigo;
  }
}

// section title

.section-title {
  span {
    display: block;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 500;
  }
  h4 {
    font-size: 45px;
    line-height: 56px;
    font-weight: 600;
    text-transform: capitalize;
    color: $color-black;
    position: relative;
    
    &:before {
      content: "";
      position: absolute;
      width: 60px;
      height: 6px;
      background: $color-hover;
      bottom: 0;
      transform: translate(80px, 15px);
      @include small{
        transform: translate(44px, 15px);
      }
    }
    @include small{
      font-size: 32px;
      line-height: 39px;
    }
  }
}
