@import "../base/variables";
@import "../base/responsive";

// Keyframes for Spinner
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// General Preloader Styling
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px dotted $gray-color;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1.5s linear infinite;
}

// Hide the preloader when the page is fully loaded
body.loaded .preloader {
  display: none;
}

// Scroll to Top Button
#scrollTopBtn {
  position: fixed;
  bottom: 35px;
  right: 35px;
  display: none;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $dark-blue;
  color: $white-color;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;

  &:hover {
    background-color: $light-orange;
  }
}

// Sticky Header
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: $white-color;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

// Button Styles
.btns {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: $white-color !important;
  background: linear-gradient(135deg, $light-orange, $indigo-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;

  &:hover {
    background: linear-gradient(135deg, $indigo-color, $light-orange);
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $indigo-color;
  }
}

// Section Title
.section-title {
  span {
    display: block;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 500;
  }

  h4 {
    font-size: 45px;
    line-height: 56px;
    font-weight: 600;
    text-transform: capitalize;
    color: $black-color;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 60px;
      height: 6px;
      background: $dark-orange;
      bottom: 0;
      transform: translate(80px, 15px);

      @include small {
        transform: translate(44px, 15px);
      }
    }

    @include small {
      font-size: 32px;
      line-height: 39px;
    }
  }
}
