// colors
$bg-color:#1F1F1F;
$text-color:#FFFFFF;
$Primary-btn:#f1c40f; 
$accent-btn:#007BFF;
$dark-color:#333333;
$tomato-color:#FF6347;
$indigo-color:#4B0082;
$navy-blue: #091813; // Navy blue color
$dark-blue: #1f2b38;
$light-dark: #252525;
$light-blue: #3498db;
$green-color:#28a745;
// Typography
$font-heading: 'Lora', serif;
$font-body: 'Roboto', sans-serif;

// Grid variables
$columns: 12;
$grid_breakpoint_xxl: 1400px;
$grid_breakpoint_xl: 1200px;
$grid_breakpoint_lg: 992px;
$grid_breakpoint_md: 768px;
$grid_breakpoint_sm: 576px;
$grid_breakpoint_xs: 575.95px;

/* Margin & Padding Utilities */
$spacing-unit: 10px;